/* Base */
  
:root {
    --accent-lightblue: rgba(134, 159, 176, 0.85);
    --card-color: rgba(134, 159, 176, 0.27);
    --accent-darkblue: rgba(47, 97, 117, 1);
}

#accordion .card-header:hover {
    opacity: 50%;
    background-color: var(--accent-lightblue);
}

button h3 {
    color: var(--accent-darkblue);
}

/* NAV BAR */
.logo {
    height: 8%;
    width: 8%;
}

@media (min-width: 450px) {

  .burgerspan {
    display: none;
  }

  ul.no-display li {
    display: inline !important;
  }

  #drop {
    display: none !important;
  }
}

@media (max-width: 450px) {
  .no-row {
    display: none !important;
    
  }
}
.text-accent-darkblue {
    color: var(--accent-darkblue) !important;
  }

.divz {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.burgerspan {
    width: 22px;
    height: 2px;
    border-radius: 5px;
    background: black;
    transition: all .5s ease-in-out;
  }

  .ml-burger {
    content: '';
    position: absolute;
  }
  
  
  .burgerspan::before,
  .burgerspan::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background: black;
    transition: all .5s ease-in-out;
  }
  
  .burgerspan::before {
    transform: translateY(-8px);
    position: absolute;
  }
  
  .burgerspan::after {
    transform: translateY(8px);
    position: absolute;
  }

  div.clicked > .burgerspan::before{
      transform: rotate(45deg);

  }
  
  div.clicked > .burgerspan::after {
    transform: rotate(-45deg);

  }

.burgerbtn {
    height: 50px;
    width: 50px;
}

.network-section, .platform-section, .grow-section {
    width: 85%;
}

.social-icons img {
    width: 1rem;
    height: 1rem;
}
    
.mt-175 {
    margin-top: 175px;
}

.no-display {
  display: none !important;
}

.visable {
  display: block !important;
}

/* Caro */

.caro-img {
  width: 380px;
  height: 260px
}

.carousel-control-next-icon {
  background-image: url(images/right-arrow.png) !important;
  height: 35px !important;
  width:35px !important;
}

.carousel-control-prev-icon {
  background-image: url(images/left-arrow.png) !important;
  height: 35px !important;
  width:35px !important;
}

.carousel-indicators li {
  background-color: var(--accent-darkblue) !important;
}
