<<<<<<< HEAD
/* Base */
  
:root {
    --accent-lightblue: rgba(134, 159, 176, 0.85);
    --card-color: rgba(134, 159, 176, 0.27);
    --accent-darkblue: rgba(47, 97, 117, 1);
}

.logo {
    height: 50px;
    width: 50px;
}

.burgerspan {
    width: 22px;
    height: 2px;
    border-radius: 5px;
    background: black;
    transition: all .5s ease-in-out;
  }
  
  .burgerspan::before,
  .burgerspan::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background: black;
    transition: all .5s ease-in-out;
  }
  
  .burgerspan::before {
    transform: translateY(-8px);
  }
  
  .burgerspan::after {
    transform: translateY(8px);
  }

.burgerbtn {
    height: 50px;
    width: 50px;
}

.mt-75 {
  margin-top: 75px;
}
